body {
    font-family: Arial, sans-serif;
    background-image: url('seamless-pattern-with-green-leaves-dark-background_958808-10629.avif');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    background-color: #3f9700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select, input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: #fe895e;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.result {
    font-weight: bold;
    margin-top: 20px;
}
